#dayOfWeek{
    display: inline-block;
    position: absolute  ;
    text-align: center;
    font-size: 2rem;
    margin: auto;
    width: 100%;   
    margin-bottom: 3rem;
}

#history{
    display: inline-block;
    position: fixed;
    bottom: 20px;
    right: 20px;
}

#myElement {
    background: silver;
    height: 300px;
    text-align: center;
    font: 30px/300px Helvetica, Arial, sans-serif;
}