<div id="leftMenu">
    <nav class="ui attached menu">
        <a class="view-ui item">
            <sm-button (click)="invertedSidebar.show({transition: 'overlay',closable:false})"><i class="sidebar icon"></i>Menu</sm-button>
        </a>
        <div class="header item">
            <h1><i class="book icon"></i> {{ title }}</h1>
        </div>
    </nav>

    <sm-sidebar id='swipe_menu' class="vertical menu" #invertedSidebar>
        <a class="item" onclick='closeMenu()' (click)="day='Monday';invertedSidebar.hide()">
            <h4 class="ui header">
                Monday
            </h4>
        </a>
        <a class="item" onclick='closeMenu()' (click)="day='Tuesday';invertedSidebar.hide()">
            <h4 class="ui header">
                Tuesday
            </h4>
        </a>
        <a class="item" onclick='closeMenu()' (click)="day='Wednesday';invertedSidebar.hide()">
            <h4 class="ui header">
                Wednesday
            </h4>
        </a>
        <a class="item" onclick='closeMenu()' (click)="day='Thursday';invertedSidebar.hide()">
            <h4 class="ui header">
                Thursday
            </h4>
        </a>
        <a class="item" onclick='closeMenu()' (click)="day='Friday';invertedSidebar.hide()">
            <h4 class="ui header">
                Friday
            </h4>
        </a>
        <a class="item" onclick='closeMenu()' (click)="day='Saturday';invertedSidebar.hide()">
            <h4 class="ui header">
                Saturday
            </h4>
        </a>
        <a class="item" onclick='closeMenu()' (click)="day='Sunday';invertedSidebar.hide()">
            <h4 class="ui header">
                Sunday
            </h4>
        </a>
    </sm-sidebar>

    <button  *ngIf="!typeOfNotes" class="ui brown button" (click)="changeTypeOfNotes()" id="history"><i class="history icon"></i>History</button>
    <button  *ngIf="typeOfNotes" class="ui brown button" (click)="changeTypeOfNotes()" id="history"><i class="tasks icon"></i>Active notes</button>

    <div class="ui header" id="dayOfWeek">{{ day }}</div>
    <div class="ui text container">
        <input-form [day]="day"  *ngIf="!typeOfNotes"></input-form>
        <note-form [day]="day" [typeOfNotes]="typeOfNotes"></note-form>
    </div>
</div>
<script src="swipe.js"></script>
