<div class="ui notebook">
    <div *ngFor="let note of sortedNotes">
        <div *ngIf="note.day == day">
            <div class="ui card"  *ngIf="note.done == typeOfNotes"  >
                <div id="notes" class="ui middle aligned divided selection list">
                    <div class="ui checkbox">
                        <input type="checkbox" (change)="toggleDone(note)" [checked]="note.done">
                        <label [ngClass]="{done: note.done}">{{ note.title }}</label>
                    </div>
                    <button type="button" class="ui red icon button" (click)="delete(note)" *ngIf="note.done"><i class="remove icon"></i></button>
                </div>
            </div>
        </div>
    </div>
</div>