#notes{
    display: flex;
    align-items: center;
    height: 34px;
}

#notes:not(:last-child) {
    margin-bottom: 10px;
}

.done {
    text-decoration: line-through;
}

.button {
    margin-right: 0px;
    margin-left: auto;
}

.header{
    margin-bottom: 10px;
    width: 260px;
}

.ui.card {
    margin: 5px;
    float: left;
    padding-left: 3px;
}

.notebook {
    height: 100%;
    box-sizing: border-box;
    margin-right: auto;
    margin-left: auto;
    width: 300px;
    margin-top: 2.5rem;
}
