<div class="ui segment form">
    <div class="ui fluid action input">
        <input type="text" name="title" (keyup.enter)="add(titleInput.value); titleInput.value = ''" #titleInput>
        <button class="ui teal button" (swipeRight)="add(titleInput.value); titleInput.value = ''" (click)="add(titleInput.value); titleInput.value = ''" >Add</button>
    </div>
</div>
<div *ngIf="formIsEmpty">
    <div  class="ui positive message ">Please enter task</div>
</div>


